@use 'variables' as v;

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: v.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$negro;
    font-size: 16px;

}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}