$fuente_principal: "Open Sans", Arial, Sans-serif;

// Colores

$blanco: #ffff;
$negro: #000;
$cafe: #281a0c;

// MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
